
ul {
    list-style-type:symbols('-');
}

li{
    color:rgb(177, 23, 23);
    text-align: center;
    margin-right: 40px;
}

.heroDetailsInfo {
    border: 1px solid;
    width: 60%;
    height: 95vh;
    display:inline-block;
    margin-top: 6px;
    margin-left: 11px;
    background-color: rgba(179, 179, 179, 0.959);
}

.heroDetailsInfo-title{
    color:rgb(177, 23, 23);
    text-align: center;
}

.heroDetailsInfo-text{
    text-align: center;
}