.heroBodyRender {
    float: right;
    height: max-content;
    width: 22%;
    margin-right: 8px;
    display:inline-block;
    margin-top: 6px;
    border: 1px solid;
    background-color: rgba(179, 179, 179, 0.959);

}

.heroBodyImage{
    height: max-content;
}