img {
    width: 200px;
    height: 90px;
}

.heroSelector { 
    display: inline-block;
    float: left;
    height: 98vh;
    max-height: max-content;
}

.heroButton{
    margin: 6px 6px 6px 6px;
    width: 200px;
    height: 90px;
    background-color: rgba(179, 179, 179, 0.959);
}

.heroButton :hover{
    cursor: pointer;
}

.heroButtonUpAndDown {
    margin: 6px 6px 6px 6px;
    width: 94px;
    height: 50px;
    border-radius: 50%;
    font-size: 36px;
    background-color: rgba(179, 179, 179, 0.959);

}